# ==============================
# HealthCheck IA - .gitignore
# ==============================

# Python - cache
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente e segredos
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
~*

# Pytest / cobertura
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# MLflow local antigo
mlruns/